  .h{

    height: 100vh;
    width: 100%;
     background:
     linear-gradient( to right, rgba(62, 32, 233, 0.9), rgba(250, 64, 64, 0.5) ) , 
     url(https://www.pexels.com/photo/photography-of-tomatoes-near-basil-leaves-1391487/); 
    background-size: cover;
    color: white;
     /* font-family: 'Quintessential', cursive;  */

 } 

.title{

    font-family: 'Quintessential', cursive; 


 }  