
body {

    background-color: rgb(17, 81, 97);


}

   .bg { 


    /* background: url('../images/vegetables-set-left-black-slate_1220-685.webp') no-repeat;  */
     background-color: rgb(17, 81, 97);
    width: 100%;
    height: 100vh;
    background-size: 200%; 
    
    }






