.anchorimages {
    width: 200px;
    height: 200px;
   
       border-radius: 20%;
     }
     .anchordiv{
       text-align: center;
   
     }

 /* .RowStyle{
   /* width: 100px;
   height: 100px; */
   /* background-color: rgb(5, 119, 119); */
 /* } */ 